@charset "utf-8";
a:hover,
a:focus,
a:invalid,
a:link {
  text-decoration: none!important;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
.mobile {
  display: none;
}
.off {
  display: none;
}
.f_l {
  float: left;
}
.f_r {
  float: right;
}
.mar-lef-0 {
  margin-left: 0;
}
.mar-rig-0 {
  margin-right: 0;
}
.p_0 {
  padding: 0;
}
.pad-lef-0 {
  padding-left: 0;
}
.pad-rig-0 {
  padding-right: 0px;
}
.pad-rig-0i {
  padding-right: 0!important;
}
.m_0 {
  margin: 0;
}
.wh100 {
  width: 100%;
  height: 100%;
}
.m12px {
  min-width: 1200px;
}
.font {
  font-family: "Microsoft YaHei";
}
.f12 {
  font-family: "Microsoft YaHei";
  font-size: 12px;
}
.f14 {
  font-family: "Microsoft YaHei";
  font-size: 14px;
}
.f16 {
  font-family: "Microsoft YaHei";
  font-size: 16px;
}
.f18 {
  font-family: "Microsoft YaHei";
  font-size: 18px;
}
.f20 {
  font-family: "Microsoft YaHei";
  font-size: 20px;
}
.f24 {
  font-family: "Microsoft YaHei";
  font-size: 24px;
}
.hover {
  background: #cccccc;
}
.donghua-06s {
  transition: all 0.6s;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
}
.donghua-03s {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.img-box img {
  transition: all 0.6s;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
}
.donghua-img-big:hover {
  transform: scale(1.5);
}
.f18_m {
  font-family: "Microsoft YaHei";
  font-size: 0.24rem;
}
.f20_m {
  font-family: "Microsoft YaHei";
  font-size: 0.26666667rem;
}
.f22_m {
  font-family: "Microsoft YaHei";
  font-size: 0.29333333rem;
}
.f24_m {
  font-family: "Microsoft YaHei";
  font-size: 0.32rem;
}
.f28_m {
  font-family: "Microsoft YaHei";
  font-size: 0.37333333rem;
}
.f30_m {
  font-family: "Microsoft YaHei";
  font-size: 0.4rem;
}
.f32_m {
  font-family: "Microsoft YaHei";
  font-size: 0.42666667rem;
}
.word_slh {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bg_red {
  background-color: red;
}
.no_backImgi {
  background-image: none!important;
}
.word_line2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.img-box {
  overflow: hidden;
}
.icon-sanjiao {
  display: block;
  width: 0;
  height: 0;
  border-width: 11px 11px 0;
  border-style: solid;
  border-color: #000 transparent transparent;
  /*黑 透明 透明 */
  position: absolute;
  right: 10px;
  bottom: 12px;
}
.page {
  font-family: "Microsoft YaHei";
  background-color: #f5f5f5;
}
.page .page__bd .content {
  padding: 0 10px;
}
.page .page__bd .content .user-vip {
  padding: 0.26666667rem 0.46666667rem;
  background-color: #ffffff;
}
.page .page__bd .content .user-vip .img-box {
  position: relative;
  width: 3.33333333rem;
  margin: 0 auto;
}
.page .page__bd .content .user-vip .img-box img {
  height: 2.06666667rem;
}
.page .page__bd .content .user-vip .img-box .title {
  position: absolute;
  bottom: 0.46666667rem;
  left: 0;
  width: 100%;
  font-size: 0.50666667rem;
  color: #ffffff;
  text-align: center;
}
.page .page__bd .content .user-vip .list-words {
  margin-top: 0.53333333rem;
}
.page .page__bd .content .user-vip .list-words p {
  color: #000000;
  font-size: 0.32rem;
  line-height: 0.58666667rem;
}
.page .page__bd .content .user-vip .list-words p:before {
  content: '';
  display: inline-block;
  width: 0.26666667rem;
  height: 0.26666667rem;
  background-color: #ffa200;
  border-radius: 50%;
  margin-right: 0.13333333rem;
}
.page .page__bd .content .vip-buy {
  padding: 0 0.46666667rem;
}
.page .page__bd .content .vip-buy .title {
  font-size: 0.32rem;
  color: #000;
  line-height: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page .page__bd .content .vip-buy .btn-group {
  padding: 0.26666667rem 0rem;
}
.page .page__bd .content .vip-buy .btn-group .weui-btn {
  font-size: 0.4rem;
  color: #ffffff;
  line-height: 0.86666667rem;
  background-color: #ff8251;
  border-radius: 0.46666667rem;
}
.page .page__bd .content .vip-buy .btn-group .btn-share {
  opacity: 0.7;
  float: right;
  margin: 0;
}
.page .page__bd .content .vip-privilege .weui-grids .weui-grid__icon {
  width: 1.33333333rem;
  height: auto;
}
.page .page__bd .content .vip-privilege .weui-grids .weui-grid__label {
  font-size: 0.32rem;
  color: #000000;
}
.page .page__bd .content .banner-box {
  margin: 0.26666667rem 0;
}
.page .page__bd .content .banner-box img {
  width: 100%;
}
.page .page__bd .content .user-course {
  padding: 0.33333333rem 0.46666667rem;
  background-color: white;
}
.page .page__bd .content .user-course .title img {
  display: inline-block;
  width: 0.6rem;
  vertical-align: text-bottom;
  margin-right: 0.26666667rem;
}
.page .page__bd .content .user-course .title span {
  line-height: 1.33333333rem;
  font-size: 0.4rem;
  color: #000;
}
.page .page__bd .content .user-course .list-words li {
  position: relative;
  margin-bottom: 0.46666667rem;
}
.page .page__bd .content .user-course .list-words li p {
  font-size: 0.32rem;
  color: #000000;
  height: 1rem;
  overflow: hidden;
}
.page .page__bd .content .user-course .list-words .con-lef {
  width: 2.57333333rem;
  border-right: 1px solid #d9d9d9;
  float: left;
}
.page .page__bd .content .user-course .list-words .con-lef li:after {
  content: '';
  position: absolute;
  right: -0.10666667rem;
  top: 0;
  width: 0.2rem;
  height: 0.2rem;
  background-color: #ff5817;
  border-radius: 50%;
}
.page .page__bd .content .user-course .list-words .con-rig {
  margin-left: 3.37333333rem;
}
.page .page__bd .content .user-course .list-words .con-rig p {
  font-size: 0.29333333rem;
}
/*# sourceMappingURL=dxp.css.map */